body {
    background-color: rgb(49, 138, 141, 0.5);
    color: rgb(49, 138, 141);
}

#anchor {
    color: rgb(172, 21, 21);
}

#jumbo {
    padding: 2%;
    background-color: aliceblue;
}

#resBtn {
    background-color: rgb(172, 21, 21);
    border-style: dashed;
    border-width: 5px;
    border-color: rgb(231, 192, 94)
}

p {
    text-align: center;
}

#vwTblsBtn {
    float: right;
    padding: .5%;
    background-color: rgb(231, 192, 94);
    border-style: dashed;
    border-color: rgb(231, 192, 94);
}

#tblLink {
    color: aliceblue;
}

#waitList {
    color: aliceblue;
}

.btn-light {
    color: rgb(49, 138, 141);
}