    body {
        background-color: rgb(49, 138, 141, 0.5);
        color: rgb(49, 138, 141);
    }
    
    #anchor {
        color: rgb(172, 21, 21);
    }
    
    h2 {
        color: rgb(49, 138, 141);
    }
    
    #jumbo {
        padding: 2%;
        background-color: aliceblue;
    }
    
    .btn-light:hover {
        color: #ffffff;
        background-color: rgb(49, 138, 141);
        border-color: rgb(49, 138, 141);
    }
    
    #resBtn {
        background-color: rgb(172, 21, 21);
        border-style: dashed;
        border-width: 2px;
        border-color: rgb(231, 192, 94)
    }
    
    #vwTblsBtn {
        float: right;
        padding: 1%;
        background-color: rgb(231, 192, 94);
        border-style: dashed;
        border-width: 2px;
        border-color: rgb(172, 21, 21)
    }
    
    #tblLink #tableList #waitList a {
        color: white;
        font-size: 12px;
    }
    
    .btn-light {
        color: rgb(49, 138, 141);
    }